{% extends "base.html" %}

{% block content %}
    <div><p> </p></div>

<h1>Add Ingredients of <font color="#1e90ff">{{ current_recipe }}</font> to Shopping List</h1>

  <form action="" method="post">

        {{ form.hidden_tag() }}
        <p>
            <p style="margin-left:1.5em">{{ form.title_list.label }}<br>
            {{ form.title_list }}<br>
        </p>
        <p>
            <p style="margin-left:1.5em">{{ form.number_of_portions.label }}<br>
            {{ form.number_of_portions }}<br>
        </p>
        <p><p style="margin-left:1.5em">{{ form.submit() }}</p>
    </form></p>
{% endblock %}