{% extends "base.html" %}

{% block content %}
<h1>All Recipes</h1>
    {% for recipe in recipes %}
    <h4><div><p><p style="margin-left:1.5em">{{ recipe }} </p></div></h4>
    <div><p><p style="margin-left:1.5em">{{ recipe.description }}</p></div>

    <div><ul>  {% for ingredient in recipe.ingredients %}
        <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    </div>

    <p style="margin-left:1.5em"><a href="{{ url_for('add_portions', recipe_id=recipe.id) }}">
    <button> Add to Shopping List </button>
    </a>
{% endfor %}



<form>
<p style="margin-left:1.5em"><input type="button" value="        Add Recipe        " onClick='location.href="add_recipe"'>
</form>

{% endblock %}