{% extends "base.html" %}

{% block content %}
<h1>All Recipes</h1>
    {% for recipe in recipes %}
    <h4><div><p><p style="margin-left:1.5em">{{ recipe }}</p></div></h4>
    <a href="{{ url_for('add_recipe_to_shopping_list', recipe_id=recipe.id) }}">
    <button> Add to Shopping List </button>
    </a>
    <div><ul>  {% for ingredient in recipe.ingredients %}
        <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    </div>

{% endfor %}



<form>
<p style="margin-left:1.5em"><input type="button" value="   Add Recipe   " onClick='location.href="add_recipe"'>
</form>

{% endblock %}