<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>{% if title %}{{ title }} | {% endif %}Shopping</title>
    {% endblock %}
</head>
<body>

{% block navigation %}
<div>
    Shopping:
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('shopping_list') }}">Shopping List</a>
    <a href="{{ url_for('product') }}">Product</a>
    <a href="{{ url_for('recipe') }}">Recipe</a>
</div>
{% endblock %}

<!-- Your page content -->
{% block content %}
{% endblock %}

{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
{% endblock %}
</body>
</html>




