<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>{% if title %}{{ title }} | {% endif %}Shopping</title>
    {% endblock %}

<body>

{% block navigation %}
<div>
    Shopping:&#160&#160&#160
    <a href="{{ url_for('index') }}">Home</a>&#160&#160&#160
    <a href="{{ url_for('shopping_list') }}">Shopping List</a>&#160&#160&#160
    <a href="{{ url_for('product') }}">Product</a>&#160&#160&#160
    <a href="{{ url_for('recipe') }}">Recipe</a>&#160&#160&#160
<!--    <a href="{{ url_for('login') }}">Login</a>&#160&#160&#160-->
    <a href="{{ url_for('logout') }}">Logout</a>
</div>
{% endblock %}


 <head>
  <meta charset="utf-8">
  <title>margin-left</title>
  <style>
   .layer1 {
    background-color: #D36037; /* Цвет фона */
   }
   .layer2 {
    margin-left: 10%; /* Отступ слева */
    background-color: #ccc; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
   }
  </style>
 </head>
 <body>
  <div class="layer1">
   <div class="layer2">




   </div>
  </div>
 </body>
</html>





<!-- Your page content -->
{% block content %}
{% endblock %}

{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
{% endblock %}


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.0.3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>





</body>
</html>




