{% extends "base.html" %}

{% block content %}
<h1>Do you want to delete shopping-list <font color="#1e90ff">{{ current_shopping_list }}</font>?</h1>


<h4><div><p><p style="margin-left:1.5em">{{ current_shopping_list }}</p></div></h4>

    <div>
{{ current_shopping_list_items }}    </div>


  <form action="" method="post">

        {{ form.hidden_tag() }}
        <p>
            <p style="margin-left:1.5em">{{ form.ask.label }}<br>
            {{ form.ask }}<br>
        </p>
        <p><p style="margin-left:1.5em">{{ form.submit() }}</p>
    </form></p>
{% endblock %}