{% extends "base.html" %}

{% block content %}
<h1>Do you want to edit description? </h1>


<h4><div><p><p style="margin-left:1.5em"><font color="#1e90ff">{{ recipe }}</font></p></p></div></h4>
    <div><p><p style="margin-left:1.5em">{{ recipe.description }}</p></div>

    <div><ul>  {% for ingredient in recipe.ingredients %}
        <li>{{ ingredient }}
        {% endfor %}</li></ul></div>

  <form action="" method="post">

{{ form.hidden_tag() }}
        <p>
            <p style="margin-left:1.5em">{{ form.description.label }} <br>

            {{ form.description }}<br>
        </p>
        <p><p style="margin-left:1.5em">{{ form.submit() }}</p>
    </form></p>
{% endblock %}