{% extends "base.html" %}

{% block content %}
<h1>Edit Recipe</h1>


<h4><div><p><p style="margin-left:1.5em"><font color="#1e90ff">{{ recipe }}</font></p></p></div></h4>
    <div><p><p style="margin-left:1.5em">{{ recipe.description }}</p></div>


<form action="{{ url_for('edit_recipe_description', recipe_id=recipe.id, recipe_description=recipe.description) }}">
    <p style="margin-left:0.7em"><input class="button" type="submit" value="Edit description">
</form>


    <div><ul>  {% for ingredient in recipe.ingredients %}
        <li>{{ ingredient }}</li>


      <head>
  <style>
   form {
    display: inline-block;
}
   </style>
</head>

<form action="{{ url_for('change_quantity_ingredient', recipe_id=recipe.id, ingredient_id=ingredient.id) }}">
    <input class="button" type="submit" value="Change quantity">
</form>
<form action="{{ url_for('delete_recipe_ingredient', recipe_id=recipe.id, ingredient_id=ingredient.id) }}">
    <input class="button" type="submit" value="Delete">
</form>

        {% endfor %}
    </ul>
    </div>

<form>
    <p style="margin-left:0.7em">
<input type="button" value="Add Product to Recipe" onClick='location.href="http://127.0.0.1:5000/all_products"'>
    </p>
</form>

{% endblock %}