{% extends "base.html" %}

{% block content %}
 <head>
  <meta charset="utf-8">
  <title>margin-left</title>
  <style>
   .layer1 {
    background-color: #D36037; /* Цвет фона */
   }
   .layer2 {
    margin-left: 6%; /* Отступ слева */
    background-color: #ccc; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
   }
  </style>
 </head>
 <body>
  <div class="layer1">
   <div class="layer2">

<img src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="Trulli" width="470" height="300" vspace="5" hspace="5">

    <h1>Hi, {{ current_user.username.title() }}!</h1>
    <b><div><p>You can create a <a href="{{ url_for('shopping_list') }}">shopping list</a> here.</p></div>
        <div><p>Use favourite <a href="{{ url_for('recipe') }}">recipes</a> to quickly add the ingredients you need!</p></div></b>

   </div>
  </div>
 </body>


{% endblock %}








