{% extends "base.html" %}

{% block content %}
    <title>{% if title %}New Shopping List{{ title }} | {% endif %}Shopping</title>
    <div><p> </p></div>
    <div><p> </p></div>

<h1>New Shopping List</h1>
  <form action="" method="post">

        {{ form.hidden_tag() }}
        <p>
            <p style="margin-left:1.5em">  {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <p style="margin-left:1.5em">{{ form.notes.label }}<br>
            {{ form.notes(size=100) }}<br>
        </p>
        <p><p style="margin-left:1.5em">{{ form.submit() }}</p>
    </form></p>
{% endblock %}